
table, td, th {
	border-collapse: collapse;
	border: 1px solid black;
}

td {
	text-align: center;
}

th {
	color: #fff;
	background-color: #777;
}

table tr:nth-child(even) {
    background-color: #ddd;
}
table tr:nth-child(odd) {
    background-color: #ddf;
}
